<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Integration Event Reportt</title>
    <style type="text/css" rel="stylesheet" media="all">
        *:not(br):not(tr):not(html) {
          font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
          box-sizing: border-box;
        }
        body {
          width: 100% !important;
          height: 100%;
          margin: 0;
          line-height: 1.4;
          color: #74787E;
          -webkit-text-size-adjust: none;
        }
        table {
            padding: 0.5em 1.5em;
            width: 100%;
            margin: 0;
            -premailer-width: 100%;
            -premailer-cellpadding: 0;
            -premailer-cellspacing: 0;
        }
        td {
          word-break: break-word;
        }

        p {
            margin: 0;
            padding: 0;
            line-height: 2em;
        }
        pre {
            padding: 1em;
            margin: 0 0 2em 0;
            white-space: normal;
            border-radius: 0.4rem;
        }
        code {
            white-space: pre-wrap;
        }
        .event {
            color: #383d41;
            background-color: #e2e3e5;
            border-color: #d6d8db;
        }
        .success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }
        .info {
            color: #383d41;
            background-color: #e2e3e5;
            border-color: #d6d8db;
        }
        .warning {
            color: #856404;
            background-color: #fff3cd;
            border-color: #ffeeba;
        }
        .error {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
    </style>
</html>
<body>

<table width="100%" cellpadding="0" cellspacing="0"><tr><td>
    {% for event in events %}
        <p>{{ event.timestamp }} - {{ event.message }}</p>
        {% if event.context.data %}
            <pre class='{{ event.context.level }}'>
                <code>{{ event.context.data }}</code>
            </pre>
        {% endif %}
    {% endfor %}
</td></tr></table>
</body>
