<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes

    RewriteEngine On
    RewriteRule ^(\.htaccess|\.git*|composer\.*|vendor|app|logs) 404 [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]

</IfModule>
